.categories {
  margin-top: 10px;
}
.categories li {
  font-size: 18px;
  display: inline-block;
}

.post h1 {
  border-bottom: solid 1px #eee;
}

#wrapper {
  max-width: 700px;
}

#post-body ul, #post-body ol {
  counter-reset: list-num;
  padding-bottom: 30px;
}

#post-body ol li {
  list-style: none;
}

#post-body ol li:before {
  counter-increment: list-num;
  content: counter(list-num) ".";
  padding: 2px 8px;
}
